#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 82px;
}

h1 {
  font-weight: bolder;
}

main {
  margin-top: 50px;
}