.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr)); /* Card width */
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: left;
}

@media screen and (min-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1824px) {
    .list {
        grid-template-columns: repeat(5, 1fr);
    }

}